<div class="inner cover">
<h1 class="cover-heading">MYB2B Reservation</h1>
<p class="lead">Start your Hotel Reservation by Joining US today!</p>
<p class="lead">
  <%= link_to "Log In/Sign Up", sign_in_path, class: "btn btn-lg btn-default" %>
</p>
</div>